@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Play fair Display";
  src: url("./font/PlayfairDisplay-Regular.otf");
  src: url("./font/PlayfairDisplay-Bold.otf");
}
@font-face {
  font-family: "Halyard";
  src: url("./font/Halyard\ Micro\ Regular.ttf");
}
